* {
    box-sizing: border-box;
}

html {
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#home {
    background-image: url("./graphics/banner.jpg");
    background-size: cover;
    color: white;
    height: 500px;
}

.b {
    color: #FFE964;
}

.i {
    color: #FF523D;
}

.k {
    color: #223C88;
}

#mission {
    background-color: #FFE964;
}

#ourteam {
    background-color: #FF523D;
    color: white;
}

#contact {
    background-color: #223C88;
    color: white;
}

nav li {
    display: inline;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
}