@font-face {
  font-family: "From the Woods";
  src: url("fonts/FromtheWoods-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

body {
  margin: 0;
  min-height: 100vh;
  background: white url("img/bg.jpg") center/cover no-repeat fixed;
  color: white;
}

.container {
  margin: 0 auto;
  width: 40em;
}

header h1 {
  font-family: "From the Woods", serif;
  font-size: 5rem;
  letter-spacing: 5px;
  text-align: center;
}

.intro {
  margin-bottom: 12rem;
  font-weight: bold;
  text-align: center;
}

.circle {
  width: 20rem;
  height: 20rem;
  border-radius: 10rem;
  padding: 2rem 3rem;
  margin-top: -8rem;
  background-color: #4f6a13;
  color: white;
  text-align: center;
}

.circle img {
  width: 6rem;
  height: 6rem;
}

.circle h2 {
  margin: 0;
  font-size: 1.3rem;
}

.circle-right {
  position: relative;
  left: 20rem;
}

.sign-up {
  margin-top: 4rem;
  padding: 2rem 0;
  background-color: #2d4823;
  text-align: center;
}

.sign-up a {
  color: #d3d3d3;
}
